code
.ipynb_checkpoints
cakeai*.txt

__pycache__
*.pyc
*.pyo
*.pyd
*.pkl
*.pytest_cache/
.mypy_cache/
.pytest_cache/
.pyre/
.pytype/

**/*.db
**/*.log
**/*.pdf
**/test*.txt

.nfs*

**/*report*.md
.env

*.egg
*.egg-info/
dist/
build/

sample_pdfs

.venv

# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log*

logs/

.vscode/
